<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem do Autômato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <h1>Imagem do Autômato</h1>
    <img src="{{ caminho }}" alt="Imagem do Autômato">
    <a href="{{caminho}}" download>
        Baixar a imagem do autômato criado.
    </a>
    <a href="{{ url_for('menu') }}">Voltar para o Menu Principal</a>
    
</body>
</html>