<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal - AUTOMALAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    </style>
</head>
<body>
    <h1>Bem vindo ao Sistema AUTOMALAB</h1>
    <div class="menu-container">
        <form action="{{ url_for('criar_testar') }}" method="get">
            <input type="button" onclick="location.href='/criar_testar';" value = "Criar e Testar" />
        </form>
        <form action="{{ url_for('converter_afn_afd') }}" method="get">
            <input type="button" onclick="location.href='/converter_afn_afd';" value = "Converter AFN -> AFD" />
        </form>
        <form action="{{ url_for('minimizar_afd') }}" method="get">
            <input type="button" onclick="location.href='/minimizar_afd';" value = "Minimizar AFD" />
        </form>
        <form action="{{ url_for('maquina_turing') }}" method="get">
            <input type="button" onclick="location.href='/maquina_turing';" value = "Operar Máquina de Turing" />
        </form>
        <form action="{{ url_for('sair') }}" method="get">
            <button type="submit" class="menu-button">Sair</button>
        </form>
    </div>
</body>
</html>