<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Teste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultado do Teste</h1>
        <p>Resultado: {{ resultado }}</p>
        <a href="{{ url_for('menu') }}" class="btn btn-primary">Voltar ao Menu</a>
    </div>
</body>
</html>